.header-main {
    width: 100%;
    height: 60px;
    background-color: #000;
}
.header-main div {
    height: 30px;
}
.header-main .div-1 {
    width: 100px;
    background-color: #ff0000
}
.header-main .div-2 {
    width: 100px;
    background-color: #800000;
}
.header-main .div-3 {
    width: 100px;
    background-color: #0000ff;
}