.header-main {
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 500px 400px;
}
.header-main div {
    height: 30px;
}
.header-main .div-1 {
    background-color: #ff0000;
    order: 1;
    flex-basis: 100px;
}
.header-main .div-2 {
    background-color: #800000;
    order: 2;
    flex-basis: 100px;
    flex-grow: 1;
}
.header-main .div-3 {
    background-color: #0000ff;
    order: 3;
    flex-basis: 100px;
    flex-grow: 2;
}